body{
    margin: 0;
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px 0 20px;
}

button:hover {
    background-color: azure;
}

#pagina {
    width:100%;
    height: 90%;
    background-color: beige;
    position: relative;
}

#imagem{
    position: absolute;
    top: 100px;
    left: 0px;
    margin-left: 600px;
    opacity: 1;    

}